<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("../fonts/Roboto"); %>
    <link rel="stylesheet" href="/css/admin/main.css">
    <title>Панель администратора</title>
</head>
<body>
<div class="content">
    <h1 class="title">Панель администратора</h1>
    <ul class="list">
        <li>
            <a href="/admin/brands">Бренды</a>
        </li>
        <li>
            <a href="/admin/products">Вещи</a>
        </li>
        <li>
            <a href="/admin/categories">Категории</a>
        </li>

        <li>
            <a href="/admin/orders">Заказы</a>
        </li>
        <li>
            <a href="/admin/users">Пользователи</a>
        </li>

    </ul>
</div>
</body>
</html>