@import "../../reset.css";

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.admin-panel {
    margin: 20px auto;
    max-width: 65vw;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-panel__title {
    margin-top: 0;
    text-align: center;
}

.admin-panel__add-product a {
    border-bottom: 1px solid black;
}

.admin-panel__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.admin-panel__row--header {
    background-color: #333;
    color: #fff;
}

.admin-panel__cell {
    padding: 10px;
    border: 1px solid #ddd;
}

.admin-panel__cell--id {
    width: 10%;
    text-align: center;
}

.admin-panel__cell--name {
    width: 30%;
}

.admin-panel__cell--category {
    width: 30%;
}

.admin-panel__cell--price {
    width: 30%;
}
