@import "reset.css";
@import "./components/header.css";

#toaster {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

.successful {
    background-color: #ffffff;
}

.error {
    background-color: red !important;
    color: white;
}


.content {
    display: flex;
    justify-content: center;

    padding: 50px 32px;

    gap: 32px;
    width: 100vw;
}

.images {
    position: relative;
    width: 30%;
}

.images img {
    border-radius: 6px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    width: 20%;

    padding: 30px 18px;

    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    border-radius: 6px;
}

.information__name {
    text-align: center;
}

.information__brandName {
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.information__price {
    font-size: 22px;
    font-weight: bold;
}

.sizes {
    text-align: center;
}


.sizes__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 12px;
    margin-top: 12px;
}

.sizes__item {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 12px;

    cursor: pointer;

    transition: background-color 0.3s ease, color .2s ease;
}

.sizes__item:hover {
    background-color: black;
    color: white;
}

swiper-container {
    width: 100%;
}

swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: #fff;
}

swiper-slide img {
    width: 100%;
    object-fit: cover;
}


swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
}

.mySwiper2 {
    height: 25%;
    padding: 10px 0;
}

.mySwiper2 swiper-slide {
    width: 20%;
    opacity: 0.4;
}