@import "../../reset.css";
@import "../table.css";

.admin-panel__cell--id {
    width: 10%;
    text-align: center;
}

.admin-panel__cell--name {
    width: 25%;
}

.admin-panel__cell--email {
    width: 30%;
}

.admin-panel__cell--isAdmin {
    width: 10%;
    text-align: center;
}

.admin-panel__cell--date {
    width: 15%;
}